.form{
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 18px 15px rgba(148, 148, 148, 0.15);
  border-radius: 7px;
  padding: 12px 44px 16px 16px;
  box-sizing: border-box;
  margin-bottom: 70px;
}

.form__label{
  background: #ECEFF0;
  border-radius: 4px;
  display: grid;
  grid-template-columns: max-content 1fr;
  padding: 4px;
  margin-bottom: 23px;
}

.form__input{
  grid-column: 2/-1;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 12px;
  line-height: 16px;
  color: #9EAAB4;
}

.form__button{
  margin: 0;
  border: none;
}

.form__button:hover{
  cursor: pointer;
}

.form__button_type_submit{
  grid-column: 1/2;
  background: url("../../UI/icons/form/search.svg");
  width: 24px;
  height: 24px;
  padding: 0;

}

.form__button_type_clear{
  font-family: 'Inter-semibold', Arial, sans-serif;
  padding-left: 20px;
  background: left / contain no-repeat url("../../UI/icons/form/clear.svg");
  background-size: 15px;
  letter-spacing: .4px;
  font-size: 12px;
  line-height: 16px;
  color: #4F4F4F;
}


.clear__icon{

}

.clear__description{

}